.mobile {
  display: none;
}

.hero {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 3rem;
  h1 {
    font-size: 4rem;
  }
  img {
    height: 60%;
  }
  p {
    font-size: 3rem;
  }
  a {
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border: solid black 1px;
    text-decoration: underline black;
    color: black;
    background-color: #E7E7E7;

    &:hover {
      color: black;
      text-decoration: underline black;
      background-color: white;
    }
  }
}


@media only screen and (max-width: 780px) {
  .mobile {
    display: block !important;
  }

  .hero {
    padding: 1rem 2rem 2rem;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.5rem;
    }
    a {
      font-size: 1rem;
      padding: .5rem 1rem;

      &:active {
        color: black;
        text-decoration: underline black;
        background-color: white;
      }
    }
  }
}

@import "main.scss";
