.main-wrapper {
  background-color: white;

  h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0;
  }
}

.main {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  p {
    margin-bottom: 2rem;
  }

  img {
    margin: 1rem auto;
  }
}
